/*
Theme Name: styl_s
Theme URI: https://github.com/luclemo/Styl_s
Author: Lucas Lemonnier
Author URI: http://lucaslemonnier.com
Description: A stylus version of the underscores starter theme (http://underscores.me/)
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: styl_s
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

styl_s is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
		## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import 'jeet'
@import 'variables-site/_variables-site'
@import 'mixins/_mixins-master'
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import 'layout/_normalize'
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import 'typography/_typography'
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import 'elements/_elements'
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import 'forms/_forms'
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import 'navigation/_navigation'
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import 'modules/_accessibility'
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import 'modules/_alignments'
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import 'modules/_clearings'
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import 'site/secondary/_widgets'
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import 'site/_site'
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import 'modules/_infinite-scroll'
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import 'media/_media'